@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans:
        'Jost', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    html {
        font-size: 18px;
        line-height: 1.6;
    }
}

@layer utilities {
}
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
